<% provide(:title, t(:create_directory) ) %>
<h1><%= t :create_directory %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@directory) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit t(:create_directory), class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>