<% provide(:title, @directory.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @directory.name %>
      </h1>
    </section>
    <section>
      <%= @directory.description %>
    </section>
  </aside>
  <div class="span8">
  </div>
</div>